* {
    background: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.75vh;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu>a>button{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 1vh;
    border: none;
    background-color: white;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: inherit;
    background-color: transparent;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    width: 100%;
}

.created_by{
    text-align: center;
    color: white;
}

.keterangan{
    color: WHITE;
    text-align: center;
    font-size: 1.5vw;
}

#pov{
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 100%;
    text-align: center;
}

#pov>p{
    margin-top: -20px;
    margin-left: -14px;
    text-align: center;
    color: red;
    background-color: transparent;
}